<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean name="data" class="ua.pp.fame.Model.Model2">
        <!--<property name="fild" value="123"></property>-->
    </bean>
    <bean name="LoggerAspect" class="ua.pp.fame.Aspects.aspect"/>

    <aop:config>
        <aop:aspect ref="LoggerAspect">
            <aop:around method="log" pointcut="execution(* *(..))"/>
        </aop:aspect>
    </aop:config>
</beans>